node-red-data/flows.json
[
    {
        "id": "46e7946d59e304e2",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "187e3413921597f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "vngalaxy.vn",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "018a456cada0d542",
        "type": "mqtt in",
        "z": "46e7946d59e304e2",
        "name": "mqtt_in",
        "topic": "application/81/device/8c51be2735c490bb/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "187e3413921597f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "a349be0d9b8599dd",
                "e0d069752b404ee5"
            ]
        ]
    },
    {
        "id": "a349be0d9b8599dd",
        "type": "debug",
        "z": "46e7946d59e304e2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "e0d069752b404ee5",
        "type": "function",
        "z": "46e7946d59e304e2",
        "name": "function 2",
        "func": "const payloadJSON = msg.payload.payload;\nconst data = JSON.parse(payloadJSON.objectJSON);\n\nmsg.payload = {\n  \"position\": {\n    \"latitude\": data.location.latitude,\n    \"longitude\": data.location.longitude,\n  },\n  \"devEuiNumber\": payloadJSON.devEUI   \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "2c8257f8fbc60db8"
            ]
        ]
    },
    {
        "id": "2c8257f8fbc60db8",
        "type": "http request",
        "z": "46e7946d59e304e2",
        "name": "requete api",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api_csharp_uplink:8000/api/Position",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "fec2d21a5129f731"
            ]
        ]
    },
    {
        "id": "fec2d21a5129f731",
        "type": "debug",
        "z": "46e7946d59e304e2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    }
]