node-red-data/flows.json
[
    {
        "id": "46e7946d59e304e2",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "187e3413921597f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "45.117.83.198",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "304a96a6963f431e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "018a456cada0d542",
        "type": "mqtt in",
        "z": "46e7946d59e304e2",
        "name": "mqtt_in",
        "topic": "application/81/device/8c51be2735c490bb/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "187e3413921597f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "a349be0d9b8599dd",
                "ef588388c9bb02a2"
            ]
        ]
    },
    {
        "id": "3f42046c03af1cef",
        "type": "influxdb out",
        "z": "46e7946d59e304e2",
        "influxdb": "304a96a6963f431e",
        "name": "influxdb",
        "measurement": "position",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "mybucket",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "a349be0d9b8599dd",
        "type": "debug",
        "z": "46e7946d59e304e2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "ef588388c9bb02a2",
        "type": "function",
        "z": "46e7946d59e304e2",
        "name": "function 1",
        "func": "const payloadJSON = msg.payload.payload;\nconst data = JSON.parse(payloadJSON.objectJSON);\n\nmsg.payload = {\n        latitude: data.location.latitude,\n        longitude: data.location.longitude,\n        deviceName: payloadJSON.deviceName,\n        devEUI: payloadJSON.devEUI,\n        measurement: \"position\",\n        tags: {},\n        timestamp: new Date(payloadJSON.publishedAt).getTime() * 1000000 // Convert to nanoseconds\n    };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "cb8f7c1d275fb462",
                "3f42046c03af1cef"
            ]
        ]
    },
    {
        "id": "cb8f7c1d275fb462",
        "type": "debug",
        "z": "46e7946d59e304e2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 360,
        "wires": []
    }
]